a {
  color: #333;
  /* font-weight: 100; */
  padding: 0 5px;
  font-size: medium;
}

a:hover {
  text-decoration: none;
  color: #555
}

#footer-div {
  background: #ddd;
  height: 150px;
}

#credit-row {
  background: #2a2d2d;
  color: rgba(212, 175, 55, .4);
  height: 35px;
}

#logo {
  height: 150px;
  width: 150px;
}

.btn-primary {
  color: #fff;
}

@media (max-width: 500px) {
  #footer-div {
    height: auto;
    padding: 10px;
  }
}
