<div class="container-fluid">
  <div id="footer-div" class="row">
    <div class="col-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center">
      <p>
        <a href="mailto:501musictx@gmail.com">
          <i class="far fa-envelope"></i> 501musictx@gmail.com
        </a>
      </p>
    </div>
    <div class="col-12 col-lg-4 d-flex order-1 order-lg-2 flex-column justify-content-center align-items-center">
      <a href="/home">
        <img id="logo" src="../../assets/img/501s-button_texture.svg">
      </a>
    </div>
    <div class="col-lg-4 d-flex order-3 justify-content-center align-items-center">
      <a class="btn btn-primary" (click)="openRequestModal()">Have a request?</a>
    </div>
  </div>

  <div id="credit-row" class="row justify-content-center align-items-center">
    <p class="my-0">website by webbysites</p>
  </div>
</div>
