<div class="container-fluid">
  <div id="footer-div" class="row">
    <div class="col">

    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <a href="/home">
        <img id="logo" src="../../assets/img/501s-button_texture.svg">
      </a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a class="btn btn-primary" (click)="openRequestModal()">Have a request?</a>
    </div>
  </div>

  <div id="credit-row" class="row justify-content-center align-items-center">
    <p class="my-0">website by webbysites</p>
  </div>
</div>
