<div class="container-fluid">
  <div id="home-top-area" class="row h-100 py-5">
    <div
      class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="mb-0">we are <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <h3 class="mb-3 text-center">
        here's a little bit about us<br>
      </h3>
      <h3 class="mb-3 text-center px-2">
        and what we each bring to the table
      </h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-6 py-5 d-flex flex-column ">
      <img src="../../assets/img/aboutPageAssets/aaron-about-img-sq.jpg" class="about-img rounded-circle my-3">
      <h5>singing</h5>
      <div class="line aaron-line1">100%</div>
      <h5>guitar</h5>
      <div class="line aaron-line2">75%</div>
      <h5>bass</h5>
      <div class="line aaron-line3">90%</div>
      <h5>drums</h5>
      <div class="line aaron-line4">60%</div>
      <h5>Accordion</h5>
      <div class="line aaron-line5">7%</div>
      <h5>makes practice</h5>
      <div class="line aaron-line6">95%</div>
    </div>

    <div class="col-12 col-lg-6 py-5 d-flex flex-column justify-content-center">
      <img src="../../assets/img/aboutPageAssets/derek-about-img-sq.jpg" class="about-img rounded-circle my-3">
      <h5>singing</h5>
      <div class="line derek-line1">90%</div>
      <h5>guitar</h5>
      <div class="line derek-line2">60%</div>
      <h5>bass</h5>
      <div class="line derek-line3">50%</div>
      <h5>drums</h5>
      <div class="line derek-line4">66%</div>
      <h5>Accordion</h5>
      <div class="line derek-line5">11%</div>
      <h5>makes practice</h5>
      <div class="line derek-line6">90%</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 py-5 d-flex flex-column justify-content-center">
      <img src="../../assets/img/aboutPageAssets/johnny-about-img-sq.jpg" class="about-img rounded-circle my-3">
      <h5>singing</h5>
      <div class="line johnny-line1">71%</div>
      <h5>guitar</h5>
      <div class="line johnny-line2">43%</div>
      <h5>bass</h5>
      <div class="line johnny-line3">37%</div>
      <h5>drums</h5>
      <div class="line johnny-line4">100%</div>
      <h5>Accordion</h5>
      <div class="line johnny-line5">0%</div>
      <h5>makes practice</h5>
      <div class="line johnny-line6">66%</div>
    </div>

    <div class="col-12 col-lg-6 py-5 d-flex flex-column justify-content-center">
      <img src="../../assets/img/aboutPageAssets/travis-about-img-sq.jpg" class="about-img rounded-circle my-3">
      <h5>singing</h5>
      <div class="line travis-line1">30%</div>
      <h5>guitar</h5>
      <div class="line travis-line2">97%</div>
      <h5>bass</h5>
      <div class="line travis-line3">50%</div>
      <h5>drums</h5>
      <div class="line travis-line4">12%</div>
      <h5>Accordion</h5>
      <div class="line travis-line5">1%</div>
      <h5>makes practice</h5>
      <div class="line travis-line6">90%</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 py-5 d-flex flex-column justify-content-center">
      <img src="../../assets/img/icons/about.svg" class="about-img rounded-circle my-3">
      <h5>singing</h5>
      <div class="line jaime-line1">50%</div>
      <h5>guitar</h5>
      <div class="line jaime-line2">22%</div>
      <h5>bass</h5>
      <div class="line jaime-line3">10%</div>
      <h5>drums</h5>
      <div class="line jaime-line4">50%</div>
      <h5>Accordion</h5>
      <div class="line jaime-line5">100%</div>
      <h5>makes practice</h5>
      <div class="line jaime-line6">33%</div>
    </div>

  </div>
</div>
