<div class="container-fluid">
  <div id="home-top-area" class="row">
    <!-- <div
      class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="mb-0">we are <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <h3 class=" text-center">
        here's a little bit about us<br>
      </h3>
      <h3 class="mb-3 text-center px-2">
        and what we each bring to the table
      </h3>
    </div> -->
  </div>
</div>
<div class="container py-4">
  <div class="row text-center mx-auto mb-3">
    <div
      class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center py-lg-3"
    >
      <h1 class="mb-3">we are <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <!-- <h3 class=" text-center">
        here's a little bit about us<br>
      </h3>
      <h3 class="mb-3 text-center px-2">
        and what we each bring to the table
      </h3> -->
    </div>
    <p>
      Arguably San Antonio’s 24th maybe 25th favorite classic country tribute band, The 501s are back with classics of their own. Featuring the sizzling lead guitar work of Travis Vela, sparking keys and accordion from Jaime “the Ace” Ramirez, freight train drumming of Johnny Lightning, bouncing bass lines of Derek Badillo, and the heartfelt crooning of Lead singer Aaron Lee Magaña, The 501s are ready to take their south Texas sound to a bigger audience.
    </p>
  </div>
  <div class="row mx-4">
    <p>Click a card!</p>
    <mat-icon class="blink justify-self-end">arrow_downward</mat-icon>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4  d-flex flex-column justify-content-center align-items-center">
      <div class="flip-card1 flip-card mb-3" [ngClass]="{'flipped' : flipped}" (click)="flip1()">
        <div class="flip-card-inner">
          <div id="am-card" class="row flip-card-front mx-auto">
            <div *ngIf="!flipped1;else nocontent" id="am-info" class="row front-info mx-auto align-self-end">
              <div class="col-4">
                <img class="card-button pr-4" src="../../assets/img/501s-button_texture.svg" alt="">
              </div>
              <div class="col-8">
                <p class="mb-0">Aaron Magaña</p>
                <p class="mb-0">Guitar/Vocals</p>

              </div>
            </div>
            <ng-template #nocontent></ng-template>
          </div>
          <div class="flip-card-back" >
            <div class="stats mx-auto">
              <h5>singing</h5>
              <div id="a1" class="line">100%</div>
              <h5>guitar</h5>
              <div id="a2" class="line">75%</div>
              <h5>bass</h5>
              <div id="a3" class="line">90%</div>
              <h5>drums</h5>
              <div id="a4" class="line">60%</div>
              <h5>Accordion</h5>
              <div id="a5" class="line">7%</div>
              <h5>makes practice</h5>
              <div id="a6" class="line">95%</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div id="derek" class="col-12 col-lg-4 py-5 d-flex flex-column justify-content-center align-items-center">
      <div class="flip-card2 flip-card mb-3" [ngClass]="{'flipped' : flipped}" (click)="flip2()">
        <div class="flip-card-inner">
          <div id="db-card" class="row flip-card-front mx-auto align-items-end">
            <div *ngIf="!flipped2;else nocontent" class="row front-info mx-auto align-items-center">
              <div class="col-4">
                <img class="card-button pr-4" src="../../assets/img/501s-button_texture.svg" alt="">
              </div>
              <div class="col-8">
                <p class="mb-0">Derek Badillo</p>
                <p class="mb-0">Bass/Vocals</p>
              </div>
              <ng-template #nocontent></ng-template>
            </div>
            <!-- <img src="../../assets/img/aboutPageAssets/derek.jpeg" class="about-img"> -->
          </div>
          <div class="flip-card-back">
            <div class="stats mx-auto">
              <h5>singing</h5>
              <div id="d1" class="line">90%</div>
              <h5>guitar</h5>
              <div id="d2" class="line">60%</div>
              <h5>bass</h5>
              <div id="d3" class="line">50%</div>
              <h5>drums</h5>
              <div id="d4" class="line">66%</div>
              <h5>Accordion</h5>
              <div id="d5" class="line">11%</div>
              <h5>makes practice</h5>
              <div id="d6" class="line">90%</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div id="travis" class="col-12 col-lg-4 py-5 d-flex flex-column justify-content-center align-items-center">
      <div class="flip-card flip-card3 mb-3" [ngClass]="{'flipped' : flipped}" (click)="flip3()">
        <div class="flip-card-inner">
          <div id="tv-card" class="flip-card-front mx-auto row align-items-end">
            <div *ngIf="!flipped3;else nocontent" class="row front-info mx-auto align-items-center">
              <div class="col-4">
                <img class="card-button pr-4" src="../../assets/img/501s-button_texture.svg" alt="">
              </div>
              <div class="col-8">
                <p class="mb-0">Travis Vela</p>
                <p class="mb-0">Guitar/Pedal Steel</p>
              </div>
              <ng-template #nocontent></ng-template>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="stats mx-auto">
              <h5>singing</h5>
              <div id="t1" class="line">30%</div>
              <h5>guitar</h5>
              <div id="t2" class="line">97%</div>
              <h5>bass</h5>
              <div id="t3" class="line">50%</div>
              <h5>drums</h5>
              <div id="t4" class="line">12%</div>
              <h5>Accordion</h5>
              <div id="t5" class="line">1%</div>
              <h5>makes practice</h5>
              <div id="t6" class="line">90%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="johnny" class="row justify-content-center">
    <div class="col-12 col-lg-4 py-5 d-flex flex-column justify-content-center align-items-center">
      <div class="flip-card flip-card4 mb-3"  [ngClass]="{'flipped' : flipped}" (click)="flip4()">
        <div class="flip-card-inner">
          <div id="jl-card" class="row mx-auto flip-card-front align-items-end">
            <div *ngIf="!flipped4;else nocontent" class="row front-info mx-auto align-items-center">
              <div class="col-4">
                <img class="card-button pr-4" src="../../assets/img/501s-button_texture.svg" alt="">
              </div>
              <div class="col-8">
                <p class="mb-0">Johnny Lightning</p>
                <p class="mb-0">Drums</p>
              </div>
              <ng-template #nocontent></ng-template>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="stats mx-auto">
              <h5>singing</h5>
              <div id="jl1" class="line">71%</div>
              <h5>guitar</h5>
              <div id="jl2" class="line">43%</div>
              <h5>bass</h5>
              <div id="jl3" class="line">37%</div>
              <h5>drums</h5>
              <div id="jl4" class="line">100%</div>
              <h5>Accordion</h5>
              <div id="jl5"vclass="line">0%</div>
              <h5>makes practice</h5>
              <div id="jl6" class="line">66%</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
      <div  id="jaime" class="col-12 col-lg-4 py-5 d-flex flex-column justify-content-center align-items-center">
        <div class="flip-card flip-card5 mb-3" [ngClass]="{'flipped' : flipped}" (click)="flip5()">
          <div class="flip-card-inner">
            <div id="jr-card" class="row mx-auto flip-card-front align-items-end">
              <div *ngIf="!flipped5;else nocontent" class="row front-info mx-auto align-items-center">
                <div class="col-4">
                  <img class="card-button pr-4" src="../../assets/img/501s-button_texture.svg" alt="">
                </div>
                <div class="col-8">
                  <p class="mb-0">Jaime Ramirez</p>
                  <p class="mb-0">Keys/Accordion</p>
                </div>
                <ng-template #nocontent></ng-template>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="stats mx-auto">
                <h5>singing</h5>
                <div id="jr1" class="line">50%</div>
                <h5>guitar</h5>
                <div id="jr2" class="line">22%</div>
                <h5>bass</h5>
                <div id="jr3" class="line">10%</div>
                <h5>drums</h5>
                <div id="jr4" class="line">50%</div>
                <h5>Accordion</h5>
                <div id="jr5" class="line">100%</div>
                <h5>makes practice</h5>
                <div id="jr6" class="line">33%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>

  
</div>
