<div class="hidden-xs col-sm-1 nav-activity">
  <a class="activity-link clearfix active" href="/home">
    <span class="icon-wrap">
      <mat-icon svgIcon="home"></mat-icon>
    </span>
    <span class="activity-title">Home</span>
  </a>
  <a class="activity-link clearfix active" href="about">
    <span class="icon-wrap">
      <mat-icon svgIcon="about"></mat-icon>
    </span>
    <span class="activity-title">About</span>
  </a>
  <a class="activity-link clearfix active" href="contact">
    <span class="icon-wrap">
      <mat-icon svgIcon="contact"></mat-icon>
    </span>
    <span class="activity-title">Contact</span>
  </a>
  <a class="activity-link clearfix active" href="dates">
    <span class="icon-wrap">
      <mat-icon svgIcon="calendar"></mat-icon>
    </span>
    <span class="activity-title">Dates</span>
  </a>
  <a class="activity-link clearfix active" href="voting">
    <span class="icon-wrap">
      <mat-icon svgIcon="vote"></mat-icon>
    </span>
    <span class="activity-title">Voting</span>
  </a>

  <div class="nav-bottom">

  </div>

</div>
