<div class="hidden-xs col-sm-1 nav-activity">
  <a class="activity-link clearfix active d-flex align-items-center" href="/home">
    <span class="icon-wrap">
      <mat-icon>
        <img id="the501s" src="../../assets/img/501s-button_no_texture.svg" class="d-flex align-items-center" >
      </mat-icon>
    </span>
    <span class="activity-title">Home</span>
  </a>
  <a class="activity-link clearfix active d-flex align-items-center" href="about">
    <span class="icon-wrap">
      <mat-icon svgIcon="about"></mat-icon>
    </span>
    <span class="activity-title">About</span>
  </a>
  <a class="activity-link clearfix active d-flex align-items-center"  href="contact">
    <span class="icon-wrap">
      <mat-icon svgIcon="contact"></mat-icon>
    </span>
    <span class="activity-title">Contact</span>
  </a>
  <a class="activity-link clearfix active d-flex align-items-center" href="dates">
    <span class="icon-wrap">
      <mat-icon svgIcon="calendar"></mat-icon>
    </span>
    <span class="activity-title">Dates</span>
  </a>
  <a class="activity-link clearfix active d-flex align-items-center" href="voting">
    <span class="icon-wrap">
      <mat-icon svgIcon="vote"></mat-icon>
    </span>
    <span class="activity-title">Voting</span>
  </a>

  <div class="nav-bottom">

  </div>

</div>
