<div id="modal" class="col-12 " style="overflow:hidden">
  <div class="row w-100 justify-content-end">
    <button class="btn xBtn" mat-button [mat-dialog-close]="false">
      <mat-icon matSuffix>clear</mat-icon>
    </button>
  </div>

  <div class="row w-100 justify-content-center mx-0 pt-3">
    <div class="col d-flex flex-column justify-content-center w-100">
      <h3 class="modal-text text-center">
        Thank you {{ data.firstName }}!!
      </h3>
      <h5 class="modal-text text-center">
        we'll get back to you asap.
      </h5>
      <!-- <p class="text-center w-100">#ThatsWhatILikeAboutTexas</p> -->
  </div>
</div>
