<div class="container-fluid">

  <div id="top-area" class="row h-100 py-5">
    <div
      class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="mb-3">Vote for <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <h3 class="mb-3 text-center">
        we are climbing our way to the top
      </h3>
      <h3 class="mb-3 text-center px-2">
        your vote can help us make it there
      </h3>
    </div>
  </div>

  <div class="container py-5 justify-content-center">

      <div
        class="vote-contact-form"
        [formGroup]="voteContactForm"
        #formDirective="ngForm"
      >
        <div class="row w-100">
          <div class="col-12 col-lg-4">
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="frist name"
                formControlName="firstName"
              >
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-4">
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="last name"
                formControlName="lastName"
              >
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-4">
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="email"
                formControlName="email"
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="fill">
              <textarea
                matInput
                placeholder="any comments or word of encouragement"
                formControlName="comment"
                rows=6
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row w-100">
          <div class="col">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onSubmit()"
            >
              VOTE!!
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid p-0">
    <!-- bands for desktop -->
    <div id="bands-row" class="row pt-5 d-none d-lg-block">
      <div class="col-12 col-lg-8 offset-lg-2 mb-0 pb-4 bands" [@bandsAnimation]="bands.length">
        <h2>Current Standings</h2>
        <hr>
        <div class="row mb-3 align-items-baseline band" *ngFor="let band of bands; let i = index">
          <h4 class="mr-3" *ngIf="band.name === 'the 501s'; else otherColor" style="color: #a8112e">
            <span style="color: #333">{{ i + 1 }}.</span> {{ band.name }}
          </h4>
          <ng-template #otherColor>
            <h4 class="mr-3">
              {{ i + 1 }}. {{ band.name }}
            </h4>
          </ng-template>
          <small>
            {{ band.type }}
          </small>
        </div>
      </div>
    </div>

    <!-- bands for mobile -->
    <div id="bands-row" class="row d-block d-lg-none py-5">
      <h3 class="d-flex justify-content-center ">Current Standings</h3>
      <hr>
      <div class="col-12" *ngFor="let band of bands; let i = index">
        <h4 *ngIf="band.name === 'the 501s'; else otherColor" style="color: #a8112e">
          <span style="color: #333">{{ i + 1 }}.</span> {{ band.name }}
        </h4>
        <ng-template #otherColor>
          <h4>
            {{ i + 1}}. {{ band.name }}
          </h4>
        </ng-template>
        <small>
          {{ band.type }}
        </small>
      </div>
    </div>
  </div>
</div>
