.container-fluid {
  /* height: 100vh; */
}

#top-area {
  /* background-color: #DDB17980; */
  background-image: url('../../assets/img/contactPageAssets/JJM_5674.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 70%;
  height: 450px;
}

mat-icon .btn-icon path {
  color: #fff;
}

/*****************/
/* media queries */
/*****************/

@media (max-width: 500px) {
  #top-area {
    background: url('../../assets/img/contactPageAssets/JJM_5674.jpg') no-repeat center top;
    background-size: contain;
    height: 250px;
  }

  h1 {
    font-size: 28px;;
  }

  h3 {
    font-size: 20px;
  }
}