<div class="container-fluid">

  <div id="top-area" class="row h-100 py-5">
    <div
      class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="mb-3 text-center">keeping up with <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <h3 class="mb-3 text-center">
        we take your requsets.
      </h3>
      <h3 class="mb-3 text-center px-2">
        just don't take them seriously.
      </h3>
      <a class="btn btn-primary" routerLink="/contact">want to book us?</a>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view (click)="getInfo($event)"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [cellTemplate]="customCellTemplate"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
      {{ day.badgeTotal }}
    </span>
    <span class="cal-day-number">
      {{ day.date | calendarDate: 'monthViewDayNumber':locale }}
    </span>
  </div>
  <small style="margin: 5px" *ngFor="let event of day.events">
    <a href="javasccript: void(0);" (click)="handleEvent('Clicked', event)">
      {{ event?.title }}<br>
    </a>
  </small>
</ng-template>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<!-- <h3>
  Edit events
  <button class="btn btn-primary pull-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead> -->

<!-- <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody> -->
<!-- </table>
</div> -->

<div class="row justify-content-center">
  <ng-template #modalContent let-close="close">

    <div class="modal-header">
      <div class="row w-100 justify-content-center">
        <h5 class="modal-title">{{ modalData?.event.title }}</h5>
      </div>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        <pre>Date: {{ modalData?.event.start | date }}</pre>
      </div>
      <div class="row">
        <ng-container *ngFor="let event of myEvents">
          <div class="col-12" *ngIf="event.start === modalData?.event.start">
            <pre>Start Time: {{ event.start | date: 'h:mm a' }}</pre>
            <p>Location:
              <a href="https://goo.gl/maps/nRxWLAje1AQGLJwi7" target="_blank">
                {{ event.location }}
              </a>
            </p>
            <p>
              {{ event.description }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn the501s-btn" (click)="close()">
        OK
      </button>
    </div>

  </ng-template>
</div>
