.modal-title {
  color: #a8112e;
}

.modal-footer {
  background: #aaa;
  color: #fff;
}

.the501s-btn {
  color: #fff;
  background: #a8112e;
  border: 1px solid #a8112e;
  height: 40px;
  width: 50px;
  padding: 5px;
}

.the501s-btn:hover {
  color: #a8112e;
  background: #fff;
  transition: ease 300ms;
}
