<div class="container px-0">
    <!-- <div id="top-area" class="row justify-content-end pr-3">
      <button class=" xBtn"  [mat-dialog-close]="true">
        <mat-icon matSuffix>clear</mat-icon>
      </button>
    </div> -->
    <div class="row">
        <div class="col-12 px-0">
            <img class="full-image" src="{{ link }}" alt="{{ data.Key }}">
            <!-- <h3 class="w-100 text-center mt-3">{{ s }}</h3> -->
            <button class="xBtn"  [mat-dialog-close]="true">
                <mat-icon matSuffix>clear</mat-icon>
            </button>
        </div>
        <a class="prev" (click)="prevLightbox(link)">&#10094;</a>
        <a class="next" (click)="nextLightbox(link)">&#10095;</a>
      
    </div>
</div>
