<!-- <div  class="container-fluid">
  <div id="gif-desktop" class="row h-100 d-none d-sm-block justify-content-center align-items-center">
      <div @fadeIn id="enter-button" class="row h-100 w-100 justify-content-center align-items-center">
        <a href='home' class="btn the501s-btn">Enter</a>
      </div>
  </div>

  
  <div id="gif-mobile" class="row d-block d-sm-none d-flex align-items-center justify-content-center">

      <div @fadeIn id="enter-button" class="row h-100 w-100 justify-content-center align-items-start mt-5">
        <a href="home" class="btn the501s-btn">Enter</a>
      </div>

    </div>
</div> -->

<div class="container-fluid">
  <div id="album-cover" class="row justify-content-center align-items-center">

  </div>

</div>

