<div class="area">
  <div>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="home">
            <mat-icon svgIcon="home" class="mr-4 ml-3"></mat-icon>
            <span class="nav-text">
              Home
            </span>
          </a>
        </li>
        <li>
          <a href="about">
            <mat-icon svgIcon="about" class="mr-4 ml-3"></mat-icon>
            <span class="nav-text">
              About
            </span>
          </a>
        </li>
        <li>
          <a href="contact">
            <mat-icon svgIcon="contact" class="mr-4 ml-3"></mat-icon>
            <span class="nav-text">
              Contact
            </span>
          </a>
        </li>
        <li>
          <a href="dates">
            <mat-icon svgIcon="calendar" class="mr-4 ml-3"></mat-icon>
            <span class="nav-text">
              Dates
            </span>
          </a>
        </li>
        <li>
          <a href="voting">
            <mat-icon svgIcon="vote" class="mr-4 ml-3"></mat-icon>
            <span class="nav-text">
              Voting
            </span>
          </a>
        </li>
      </ul>

      <ul class="logout">
        <li>
            <a href="#">
                  <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
    </nav>
  </div>
</div>

