<div  id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="btn closebtn" (click)="closeNav()">
    <mat-icon >close</mat-icon>
  </a>
  <a class="text-center pl-2" href="home">
    <!-- <mat-icon svgIcon="home"></mat-icon> -->
    Home
  </a>
  <a class="text-center pl-2" href="about">
    <!-- <mat-icon svgIcon="about"></mat-icon> -->
    About
  </a>
  <!-- <a class="text-center pl-2" href="dates">
    <mat-icon svgIcon="calendar"></mat-icon>
    Dates
  </a> -->
  <a class="text-center pl-2" href="contact">
    <!-- <mat-icon svgIcon="contact"></mat-icon> -->
    Contact
  </a>
  <a class="text-center pl-2" href="voting">
    <!-- <mat-icon svgIcon="vote"></mat-icon> -->
    Voting
  </a>
</div >
