/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
  --main-501s-red: #A8112E;
  --main-501s-blue: #778BA5;
  --main-501s-brown: #DDB179;
  --main-501s-brass: #CD9575;
}
.btn-primary {
  background: var(--main-501s-red) !important;
  border: 1px solid var(--main-501s-red) !important;
}

.btn-primary:hover {
  background: transparent !important;
  color: var(--main-501s-red) !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ddd;
}

mat-icon path {
  color: var(--main-501s-red);
}

a:hover {
  text-decoration: none;
}

.the501s-btn {
  color: #fff;
  background: var(--main-501s-red);
  border: 1px solid var(--main-501s-red);
  height: 40px;
  width: 50px;
  padding: 5px;
}

.the501s-btn:hover {
  color: var(--main-501s-red);
  background: transparent;
  transition: ease 300ms;
}

/* hide dark grey sub menu of current/clicked day on dates calendar */
.cal-month-view .cal-open-day-events {
  display: none;
}

.heading-light {
  font-weight: 300;
}

mat-form-field {
  width: 100%;
}

