/* You can add global styles to this file, and also import other style files */

.container-fluid {
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-icon path {
  color: #a8112e;
}

.the501s-btn {
  color: #fff;
  background: #a8112e;
  border: 1px solid #a8112e;
  height: 20px;
  width: 50px;
  padding: 5px;
}

.the501s-btn:hover {
  color: #a8112e;
  background: #fff;
  transition: ease 300ms;
}

