/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-icon path {
  color: #a8112e;
}

.the501s-btn {
  color: #fff;
  background: #a8112e;
  border: 1px solid #a8112e;
  height: 40px;
  width: 50px;
  padding: 5px;
}

.the501s-btn:hover {
  color: #a8112e;
  background: #fff;
  transition: ease 300ms;
}

/* hide dark grey sub menu of current/clicked day on dates calendar */
.cal-month-view .cal-open-day-events {
  display: none;
}

.heading-light {
  font-weight: 300;
}

