img {
    width: 100%;
    padding: 0;
}

.container {
    /* height: 100vh; */
}
.date-column {
  background: #fff;
}

.date-column:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

#header-image {
  /* background: url('../../assets/img/homepageAssets/the501s-header-1.jpg') no-repeat top center;
  height: 500px; */
  width: 100%;

}

.other-row {
  background: rgba(156, 196, 223, .2);
}

.event-image {
  height: 200px;
  background: url('../../assets/img/homepageAssets/the-501s-3.jpg');
}

.fake-anchor:hover {
  cursor: pointer;
}

.date {
  height: 40%;
  width: 25%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .date {
    width: 25%;
  }

  #display1, #display2 {
    color: #a8112e;
  }
  /* #header-image {
    background: url('../../assets/img/homepageAssets/the-501s-3.jpg') no-repeat top left;
  } */
}
