a {
  text-decoration: none;
}
img {
    width: 100%;
    padding: 0;
}

.container-fluid {
    /* height: 100vh; */
}

#album-cover {
  /* background: url('../../assets/img/landingpageAssets/IMG_0849.jpg') no-repeat center center; */
  /* background-size: 50% 50%; */
  background-color: #fff;
  width: 50%;
  
}

.date-column {
  background: #fff;
}

.date-column:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

#header-image {
  /* background: url('../../assets/img/homepageAssets/the501s-header-1.jpg') no-repeat top center;
  height: 500px; */
  width: 100%;

}

.other-row {
  background: rgba(156, 196, 223, .2);
}

.event-image {
  height: 200px;
  background: url('../../assets/img/homepageAssets/the-501s-3.jpg');
}

.fake-anchor:hover {
  cursor: pointer;
}

.date {
  height: 40%;
  width: 25%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

#display1, #display2 {
  font-size: 40px;
}

.the501s-btn {
  color: #fff;
  background: #a8112e;
  border: 1px solid #a8112e;
  height: 40px;
  width: 50px;
  padding: 5px;
}

.the501s-btn:hover {
  color: #a8112e;
  background: #fff;
  transition: ease 300ms;
}

/*****************/
/* album section */
/*****************/

#pre-save {
  height: 60px;
  background-color: #33333320;
  border: 5px solid #a8112e;
  border-radius: 10px;
  color: #a8112e;
  z-index: 9999;
}

#album-cover {
  z-index: 9999;;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
}

/*****************/
/* follow button */
/*****************/
#follow-button {
  background-color: #33333320;
}

.mat-icon {
  transform: scale(2);
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .date {
    width: 25%;
  }

  /* #header-image {
    background: url('../../assets/img/homepageAssets/the-501s-3.jpg') no-repeat top left;
  } */
}

@media (max-width: 500px) {
  #album-cover {
    /* background: url('../../assets/img/landingpageAssets/IMG_0849.jpg') no-repeat center center;
    background-size: 70%; */
    background-color: #fff;
    width: 100%;
    z-index: 9999;
  }
}
