img {
    width: 100%;
    padding: 0;
}

.container {
    /* height: 100vh; */
}

#header-image {
  background: url('../../assets/img/homepageAssets/the-501s-3.jpg') no-repeat top center;
  height: 300px;

}

.other-row {
  background: #333;
}

.event-image {
  height: 200px;
  background: url('../../assets/img/homepageAssets/the-501s-3.jpg');
}
