<div class="container-fluid px-0">

  <div id="home-top-area" class="row py-5">
    <div class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center">
      <h1 class="mb-0">we are <span style="color: #a8112e; font-weight: 700">the 501s</span></h1>
      <!-- <h3 class="mb-3 text-center">
        San Antonio's <span id="display1"></span>th or <span id="display2"></span>th <br>
      </h3>
      <h3 class="mb-3 text-center px-2">
        favorite classic country tribute band!
      </h3> -->
      
      <h3>check out our new album!</h3>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2 d-flex flex-column align-items-center justify-content-center album-section">
      <!-- <a class="w-25 btn the501s-btn" routerLink='/voting'>Vote Now!</a> -->
      <img id="album-cover" src="../../assets/img/landingpageAssets/IMG_0849.jpg">
      <!-- <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6sFIWsNpZYqfjUpaCgueju&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
      <a class="row justify-content-center text-center align-items-center" href="https://distrokid.com/hyperfollow/the501s1/the-501s-2" target="_blank">
        <div id="pre-save" class="row align-items-center px-4">
          <p class="mb-0 mr-4">Spotify Pre-Save</p>
          <mat-icon class="blink justify-self-end">arrow_right</mat-icon>
        </div>
      </a>
    </div>
  </div>


  <!-- <div id="header-image" class="d-none d-lg-block container-fluid">
    <img src="../../assets/img/homepageAssets/the501s-header-1-sm.jpg">
  </div>

  <div class="container-fluid d-block d-lg-none">
    <img src="../../assets/img/homepageAssets/the501s-header-1-mobile.jpg">
  </div> -->

  <div class="row other-row py-5 justify-content-center mx-auto">
    <h1 class="my-2 w-100 text-center">Upcoming Dates</h1>
    <div
      *ngFor="let event of events"
      class="date-column col-12 col-lg-4 d-flex flex-column offset-lg-4 border rounded p-4 mx-auto"
    >
      <div class="event-image">
        <div class="row h-100 w-100 align-items-start">
          <div class="col-3 col-md-2 ml-4 date mt-3 d-flex flex-column align-items-center justify-content-center">
            <small>{{ event.date | date: 'EE' }}</small>
            <h4 class="mb-0" style="color: #a8112e;">{{ event.date | date: 'dd' }}</h4>
            <small>{{ event.date | date: 'MMM' }}</small>
          </div>
        </div>
      </div>
      <h4 class="fake-anchor mt-3">
        <a [routerLink]="['/dates']">
          {{ event.title }}
        </a>
      </h4>
    </div>
  </div>
</div>
